<?xml version="1.0"?>

<robot name="mavs" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:arg name="vehicle_params_file" default="-1"/>

  <xacro:property name="vehicle_params_file" value="$(arg vehicle_params_file)"/>
  <xacro:property name="vehicle" value="${load_yaml(vehicle_params_file)}"/>

  <!-- Vehicle geometry -->
  <xacro:property name="base_link" value="${vehicle['vehicle']['vehicle_description']['base_link']}" />

  <!-- LiDAR properties -->
  <xacro:property name="lidar_z" value="${vehicle['vehicle']['vehicle_description']['lidar_z']}"/>
  <xacro:property name="lidar_x" value="${vehicle['vehicle']['vehicle_description']['lidar_x']}"/>
  <xacro:property name="topic" value="${vehicle['vehicle']['vehicle_description']['topic']}"/>

  <!-- Bolt-on sensors go here -->
  <xacro:include filename="$(find vehicle_description)/urdf/velodyne_16.xacro"/>
  <velodyne_16 parent="${base_link}" lidar_x="${lidar_x}" lidar_z="${lidar_z}"/>

</robot>
